<nav id="tf-menu" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'James Blog', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Articles', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <% if admin_signed_in? %>
          <!--This block is only visible to signed in admins -->
          <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>